*{
    margin: 0;
    padding: 0;
    border: 1px solid blue;
    box-sizing: border-box;}

    /***VISTA DESKTOP***/
/*@media (min-width: 64em) {

body{
    background-image: url(./bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 24em;
    width: 95vw;
    height: 100%;
}

main{
    width: 95%;
    height: 75%;
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: 1 auto;
    grid-template-areas: 
    "tarjetas form"; 
}

form{
    grid-area: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.125em;
    font-family: Space Grotesk;
    margin-right: 2.313em;
    margin-left: 0;
    margin-top: 6.25em;
    padding: 3.125em;
}

button{
    display: flex;
    justify-content: center;
    color: rgb(172, 156, 187);
    font-family: Space Grotesk;
    font-size: 1.125em;
    background-color: rgb(63, 9, 58);
    width: 20em;
    height: 2em;
    border-radius: 0.313em;
    margin-top: 0.625em;
    padding-top: 0.313em ;
    transition: bacground-color blue;
    transition: color rgb(172, 156, 187) ;
}

button:hover{
    background-color:violet;
    color: black;
}

.card_front{
    background-image: url(./imágenes/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: auto;
    position:relative;
    display:flex;
    text-align: center;
    color: aliceblue;
    z-index: 1;
    width: 400px;
    height: 250px;
    margin: 6.25em 0px 1.25px 6.25em;
}

.icono{
position: absolute;
margin-top: 1.5em;
margin-left: 1.5em;
}

.back{
    background-image: url(./imágenes/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: 98%;
    width: 400px ;
    height: 250px;
    position:relative;
    display:flex;
    text-align: center;
    color: aliceblue;  
}



.nb{
    position: absolute;
    margin-top: 5.063em;
    margin-left: 1.375em;
    font-size: 1.563em;
    font-family: Space Grotesk;
    letter-spacing: 1px;
    word-spacing: 6px;
} 

.nombre{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    margin-top: 12.5em;
    margin-left:2.375em;
    font-family: Space Grotesk;
}

.vc{
    position: absolute;
    color: aliceblue;
    margin-top: 6.25em;
    margin-left: 20em;
}

.back{
    margin: 1.25em 0px 0px 12.5em;
}

label{
    margin-bottom: 1.25em;
}

input{
    border: 1px solid hsl(249, 99%, 64%);
    border-radius: 3px;
    font-size: 0.75em;
    padding: 0.75em;
    width: 30em;
    margin-top: 0.5em;
    border-top-color: rgb(145, 141, 141) ;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.exp{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 5em;
    margin-top: 1em;
}

.cvc{
    height: 0.313em;
    
}

.numbercc{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 0px;
}

.exp_input{
    width: 5em;
    height: 3em;
    margin-top: 0.5em;
}

.cvc_input{
    width: 10em;
    height: 3em;
    margin-top: 2.5em;
    margin-right: 3em;
    
}

} */









/****VISTA MOBILE****/

@media (min-width: 370px)  {

body{
        background-image: url(./bg-main-mobile.png);
        background-repeat: no-repeat;
        width: 30em;
        height: auto;
        display: flex;
        flex-direction: column;
    }

form{
        display: flex;
        flex-direction: column;
        margin-top: 10em;
        margin-left: 2em;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 1em;
        width: 95%;
    }   

.fechas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "label1 label1 label3"
        "month year cvc";
        margin-top: 15px;
        margin-bottom: 15px;
        width: 18px;
    }

input{
        border: 1px solid black;
        border-radius: 2px;
        font-size: 20px;
    }

.month{
        grid-area: "month";
    }

.year{
    grid-area: "year";
    }

.cvc{
    grid-area: "cvc";
    }

button{
        display: flex;
        justify-content: center;
        color: rgb(172, 156, 187);
        font-family: Space Grotesk;
        font-size: 1.125em;
        background-color: rgb(63, 9, 58);
        width: 15em;
        height: 2em;
        border-radius: 0.313em;
        margin-top: 0.625em;
        padding-top: 0.313em ;
        transition: color rgb(172, 156, 187) ;
    }

button:hover{
        background-color:violet;
        color: black;
}

.card_front{
    background-image: url(./imágenes/bg-card-front.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 150px; 
    position: absolute;
    top: 120px;
    left: 30px;
    z-index: 3;
} 

.back{
        position: relative;
        background-image: url(./imágenes/bg-card-back.png);
        background-repeat: no-repeat;
        background-size: 98%;
        width: 250px ;
        height: 150px;
        position:relative;
        display:flex;
        text-align: center;
        color: aliceblue;  
        z-index: 0;
        margin-top: 20px;
        margin-left: 100px;
    }

.vc{
    margin-top: 20px;
    margin-left: 200px;
}
.nombre{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 6.5em;
    margin-left:2.375em;
    font-family: Space Grotesk;
    color: aliceblue;
}

.nb{
    position: absolute;
    margin-top: 5.063em;
    margin-left: 1.375em;
    font-size:1emem;
    font-family: Space Grotesk;
    letter-spacing: 1px;
    word-spacing: 6px;
    color: aliceblue;
} 
.icono{
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
    }

img{
    width: 4em;
}

input{
    border: 1px solid hsl(250, 2%, 48%);
    border-radius: 3px;
    font-size: 0.75em;
    padding: 0.75em;
    width: 25em;
    margin-top: 0.5em;
    border-top-color: rgb(145, 141, 141) ;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.exp_input{
    width: 5em;
    height: 3em;
    margin-top: 0.5em;
}

.cvc_input{
    width: 10em;
    height: 3em;
    margin-top: 2.5em;
    margin-right: 3em;
    
}

.exp{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 5em;
    margin-top: 1em;
}

} 
